@{
    ViewData["Title"] = "Home Page";
}

<div id="HeaderBackground">
    <h1><span id="HomePageTitle">Mercury Health Group</span></h1>
 
    <p>The mission of Mercury Health Group is to help you improve your longevity and your quality of life through healthy activity.</p>
        &nbsp;&nbsp;&nbsp;<a href="/FoodLogEntries/Create" class="abel-button btn btn-primary btn-large">Make healthy choices, create a nutrition item now &raquo;&raquo;&raquo;</a>
        <br />
        &nbsp;&nbsp;&nbsp;<a href="/Exercises/Create" class="btn btn-primary btn-large">Physical activity boosts mental wellness, create an exercise entry now &raquo;&raquo;&raquo;</a>
        <br /><br />
</div>


<div class="">
    <h1 class="text-center display-4">Welcome To The Mercury Health Family</h1>
    <p>Welcome to Mercury Health. Where your health is our business.
    </p>
</div>

    <div class="row">
        <div class="col-md-4">
            <h2>Exercise</h2>
            <p>
                Physical activity is an important part of a healthy lifestyle. Our advanced tracking
                tools enable two-way auto syncing with all the popular activity trackers.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Nutrition</h2>
            <p>
                A well crafted diet can help you accomplish your health goals. Start logging all your meals with
                our logging tools. Our tools combine the power of AI to enable food and activity loggin faster and easier
                for a healtier life.
            </p>
        </div>
    </div>
